*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  min-height: 100vh;
}
.dark{
  background-color: #282c34;
  color: white;
}
.light{
  color: #282c34;
  background-color: #e7e4e4;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.logo{
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0.5em;
  text-decoration: none;
  color: white;
}
.App-link {
  color: #61dafb;
  text-decoration: none;
  padding: 0 1em;
}
.App-link:hover {
  color: #3ebde0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
  background-color: rgb(189, 183, 183);
  color: #282c34;
  box-shadow: 0px 0px 5px 0px grey;
  margin-top: 2em;
}

.form input[type="text"], .form input[type="password"], .form input[type="email"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form input[type="text"]:focus, .form input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.login button:hover {
  opacity: 1;
}

.todos{
  width: 50%;
  margin: auto;
  list-style-type: none;
  font-size: 1.1em;
}

.search{
  width: 100%;
  margin: auto;
}
.search input[type="search"]{
  width: 40%;
  padding: .3em .5em;
  outline: none;
}
.search button{
  padding: .35em .5em;
  border: none;
}
.todo{
  border: 1px solid lightgray;
  margin: 0.2em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .5em;
}
.todo:hover{
  transition: 200ms;
  box-shadow: 1px 1px 3px 1px lightgray;
}

.del-btn{
  color: red;
  font-weight: bolder;
  cursor: pointer;
}